td 
    form(action="/edit" method="POST") 
        label(for="editButton") 
        button(type="submit" id="editButton") Edit
td 
    form(action="/delete" method="POST") 
        input(type="hidden" name="id" value=user.uuid)
        button(type="submit") Delete
